body {
	/*background-color: #fbf5f3;*/
	background-color: white;
	/*color: #353238;*/
	color:black;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	font-family:sans-serif;
}

h1 {
	color: #92140c;
	/*margin-left: 5px;*/
}

h2 {
	color: #653239;
	/*margin-left: 5px;*/
}

.important {
	color: #dc493a;
	font-weight:bold;
}

.articleTitle {
	font-weight: bold;
}

a {
	color: #4392f1;
}

ul {
	list-style: none;
	padding-left: 10px;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: brown;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

li.menu a:hover {
    background-color: firebrick;
}

li.active {
    text-decoration: underline;
    text-decoration-color: white;
}
